

<ion-content [fullscreen]="true">

  <div class="close-page" (click)="goToHome()">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M21 21L1 1M21 1L1 21" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
  </div>


  <div class="padding-page">


    <div class="page-title">Devenir <span class="orange-text">repartidor</span></div>


    <div>
      Quelles champs souhaitez-vous distribuer ?
    </div>


    
    

  </div>


  
</ion-content>
