

<ion-content [fullscreen]="true">

  <div class="close-page" (click)="goToHome()">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M21 21L1 1M21 1L1 21" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
  </div>


  <div class="padding-page">


    <div class="page-title" *ngIf="!finishedForm">Devenir <span class="orange-text">repartidor</span></div>

    <div class="page-title" *ngIf="finishedForm"><span class="orange-text">Bienvenue !</span></div>


    <div *ngIf="step == 1">
      <div>
        Quelles champs souhaitez-vous distribuer ?
      </div>
  
      <ion-searchbar (ionInput)="searchField($event)" class="searchbar" placeholder="Recherche"></ion-searchbar>
  
      <div class="horizontal-list">
        <app-card-field *ngFor="let field of searchList" [farmer]="field.farmer!" [field]="field" [repartidor]="user"></app-card-field>
      </div>
    </div>

    <div *ngIf="step == 2">
      <div>
        Ou souhaitez vous être livré ?
      </div>

      <ion-item>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-input></ion-input>
      </ion-item>
  

      <div class="flex-row">
        <div>
          Je confirme que je peux stocké à l'abri de la chaleur
         des cageot de fruits et légumes à cette adresse
        </div>

        <div (click)="canStock = !canStock">
          <div *ngIf="!canStock">
            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M33.0795 13.8648L33.0795 13.8649C33.8506 19.8729 31.5351 27.1784 24.7449 30.1848L24.7002 30.2046L24.6602 30.2326C22.3853 31.8279 19.6292 32.5 16.8289 32.5C14.1458 32.5 11.4416 31.8801 9.12417 30.8751C6.80081 29.8675 4.90444 28.4898 3.80104 27.0056C0.251268 22.2211 -0.516223 15.2257 1.89105 9.19107L1.89109 9.19098C3.3952 5.41822 6.17082 2.83446 10.1781 1.49819L10.1782 1.49816C14.2777 0.130243 18.6852 0.414652 21.6854 0.906214L21.6858 0.906268C27.7159 1.89003 32.1913 6.93647 33.0795 13.8648Z" stroke="black"/>
              </svg>
          </div>
    
          <div *ngIf="canStock">
            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Hands Checkmark">
              <g id="Master/Stickers/Checkmark">
              <g id="checkmark">
              <g id="stickers_expanded">
              <path id="Path" d="M33.5755 13.8012C32.6641 6.69271 28.0515 1.43816 21.7663 0.412792C18.7319 -0.0843536 14.231 -0.381264 10.0199 1.02386C5.87866 2.40482 2.98746 5.09079 1.42664 9.00581C-1.03856 15.1856 -0.263387 22.3666 3.39949 27.3035C5.74248 30.4556 11.3154 33 16.8289 33C19.7061 33 22.5694 32.3095 24.9473 30.642C32.0042 27.5176 34.3646 19.9499 33.5755 13.8012Z" fill="#1FAD66"/>
              <path id="Path_2" d="M15.4811 24.3862C15.3662 24.3859 15.2538 24.3572 15.1528 24.3034C13.6234 23.499 12.3105 22.2319 11.0395 21.0063C10.3398 20.3048 9.6044 19.6388 8.83621 19.0108C8.64032 18.8576 8.5422 18.6121 8.57886 18.3677C8.61518 18.1232 8.78104 17.9168 9.01359 17.8256C9.24579 17.7348 9.50977 17.7735 9.70566 17.9268C10.4983 18.5517 11.27 19.3078 12.0172 20.019C13.0183 21.0574 14.1252 21.9913 15.3205 22.805C17.2619 20.4263 18.7459 17.5505 20.1845 14.7644C21.232 12.7724 22.2796 10.7147 23.5052 8.83317C23.7161 8.51728 24.1452 8.42786 24.4668 8.63363C24.7888 8.83904 24.883 9.2623 24.6784 9.58234C23.4926 11.4636 22.4042 13.4028 21.4171 15.3927C19.8493 18.4239 18.2291 21.5622 15.9979 24.1446C15.8683 24.2944 15.6801 24.3824 15.4811 24.3862Z" fill="white"/>
              </g>
              </g>
              </g>
              </g>
              </svg>
          </div>
        </div>
        
         
      </div>

    </div>
    
    <div *ngIf="step == 3">
      <div>
        Comment souhaitez vous être payé ?
      </div>
    </div>

    <div *ngIf="step == 4">
      <div>
        Conditions générales
      </div>
    </div>

    <div *ngIf="finishedForm">
      
      <div>
        Vous êtes desormais un <span class="orange-text">repartidor</span>,
         les clients peuvent désormais vous selectioner lors de leur commande.
      </div>

      <div class="centered-content">
        <img class="centered-content" src="/../../assets/images/repartidor/Dynamic Pose.png"  alt="">

      </div>

      <div>
        Toute l'équipe Abuelos vous remercie et vous souhaite du succés dans 
      </div>

      <div class="centered-content">
        <img src="/../../assets/images/abuelos_basket.png"  alt="">

      </div>

    
    </div>
  </div>



  <div class="navbar">
    <div *ngIf="step == 1" ></div>
    <ion-button class="middle-button" *ngIf="step == 1" [disabled]="!canGo2()" (click)="nextStep()">Continuer</ion-button>
    
    <ion-button class="middle-button outline-button" *ngIf="step !== 1"(click)="return()">Retour</ion-button>
    
    <ion-button class="middle-button" *ngIf="step == 2" [disabled]="!canGo3()" (click)="nextStep()">Continuer</ion-button>
    <ion-button class="middle-button" *ngIf="step == 3" (click)="nextStep()">Continuer</ion-button>
    <ion-button class="middle-button" *ngIf="step == 4" (click)="validateForm()">Valider</ion-button>
    <ion-button class="middle-button" *ngIf="step == 5" (click)="goToHome()">Accueil</ion-button>




  </div>
  
</ion-content>
