

<ion-card class="seller-row">
  <div>
    <ion-card-title>Christine</ion-card-title>
    <ion-card-subtitle>Ville</ion-card-subtitle>
  </div>

  <div class="seller-infos">

    <div>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

  
    <ion-icon size="large" name="person-circle-outline"></ion-icon>
    <ion-icon size="large" name="chatbubble-outline"></ion-icon>
  
    <ion-button>Voir +</ion-button>
  </div>

</ion-card>