
<ion-content [fullscreen]="true">

  <div class="padding-page" *ngIf="user && conversations">

    <div class="page-title">Messages</div>

    <ion-searchbar (ionInput)="searchUser($event)" class="searchbar" placeholder="Recherche"></ion-searchbar>

    <ion-list class="search-list">

      <app-user-card *ngFor="let user of searchList" [user]="user">

      </app-user-card>

    </ion-list>


    <ion-list class="contact-list">
      <app-contact-row *ngFor="let conv of conversations" [conv]="conv" [user]="getCorrespondent(conv.users)"></app-contact-row>

    </ion-list>

    <!-- seller -->
    <!-- <ion-list class="contact-list">
      <app-contact-row *ngFor="let seller of sellers" [user]="seller"></app-contact-row>
    </ion-list> -->
  </div>
</ion-content>
