

.page-title{
    margin-bottom: 24px;

}


.contact-list {

    padding: 0px;       
    margin-top: 16px;
//   margin-bottom: 10px;
}

.search-list {

    // padding: 0px;       
    margin-top: 12px;
    padding-bottom: 12px;
}