
<ion-content [fullscreen]="true">

  <div class="padding-page" *ngIf="user">

    <div class="page-title">Messages</div>

    <ion-searchbar class="searchbar" placeholder="Recherche"></ion-searchbar>

    <ion-list class="contact-list">
      <app-contact-row *ngFor="let conv of user.conversations"></app-contact-row>
    </ion-list>

    seller
    <ion-list class="contact-list">
      <app-contact-row *ngFor="let seller of sellers" [user]="seller"></app-contact-row>
    </ion-list>
  </div>
</ion-content>
