

<ion-content [fullscreen]="true">
  <div class="close-page" (click)="goBack()">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M21 21L1 1M21 1L1 21" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
  </div>



  <div class="padding-page">
    <div class="page-title"><span class="orange-text">Comment</span> ça marche ?</div>

    <div>
      Vous souhaités vous procurer un cageot ? 
      <br>
      D'abord sélectionné le produit. 
      Puis sélectionner un <span class="orange-text">repartidor</span>, ainsi qu'un lieu 
      et une heure au préalable renseigner par le <span class="orange-text">repartidor</span>.
    </div>

    <div class="centered-image">
      <img src="/../../assets/images/operation/repartidor_card.png"  alt="">

    </div>


    <div class="flex-row">
      <div>
        Si aucun horraire ou lieu ne convient
         vous ête invité à trouver un arrangement avec le  <span class="orange-text">repartidor</span>
          qui sera en mesure de vous delivré un <span class="orange-text">accuerdo</span>.
      </div>

      <img src="/../../assets/images/operation/Hands Chat.png" width="140px" height="140px"  alt="">

    </div>

    <div class="margin-top">
      Un <span class="orange-text">accuerdo</span> permet de passer au paiement, un accord est utilisable 
      3 jours après avoir été délivré.
    </div>

    <div class="centered-image">
      <img src="/../../assets/images/operation/repartidor_acuerdo_card.png"  alt="">
    </div>


    <div class="flex-row">
      <div>
        Dès lors vous pouvez
        procédé au paiement. 
      </div>

      <img src="/../../assets/images/operation/Hands Phone.png" width="140px" height="140px"  alt="">

    </div>


    <div class="flex-row margin-top">
      <div>
        Retrouvez l'évolution de votre commande dans l'onglet de votre profil.
      </div>

      <svg class="icon" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Profil" d="M18.6667 17.9091H10.3333C8.1232 17.9091 6.00358 18.6274 4.44078 19.9061C2.87797 21.1847 2 22.919 2 24.7273V25.8636C2 25.8636 6.34028 27 14.5 27C22.6597 27 27 25.8636 27 25.8636V24.7273C27 22.919 26.122 21.1847 24.5592 19.9061C22.9964 18.6274 20.8768 17.9091 18.6667 17.9091ZM7.55556 7.68182C7.55556 6.17491 8.2872 4.72971 9.58954 3.66417C10.8919 2.59862 12.6582 2 14.5 2C16.3418 2 18.1081 2.59862 19.4105 3.66417C20.7128 4.72971 21.4444 6.17491 21.4444 7.68182C21.4444 10.8193 18.3347 14.5 14.5 14.5C10.6653 14.5 7.55556 10.8193 7.55556 7.68182Z" stroke-miterlimit="10" stroke-linecap="square"/>
      </svg>

    </div>

    <div class="centered-image">
      <img src="/../../assets/images/operation/order_card.png" height="140px"  alt="">

    </div>


    

  </div>
</ion-content>
