

<ion-content [fullscreen]="true">
  

  <div class="padding-page" *ngIf="user !== null">

    <div class="page-title">Profil</div>

    <div class="profile-content">
      <app-user-card [user]="user" [isCurrentUser]="true"></app-user-card>
    
      <!-- A adapter en fonction du profil -->
      <app-dashboard-card></app-dashboard-card>
    </div>
    
    
    <!-- <ion-button *ngIf="!user.admin" expand="block" class="big-button">Devenir repartidor</ion-button> -->


    <div *ngIf="user.role == 'farmer'" class="horizontal-list">

      <app-card-field *ngFor="let field of userFields" [farmer]="user" [field]="field" [cardType]="''"></app-card-field>
    </div>



    <ion-button *ngIf="user.role == 'farmer'" (click)="goToAddField()" expand="block" class="middle-button">Ajouter un champ</ion-button>
    

    <ion-button *ngIf="user.role == 'farmer'" (click)="goToAddProduct()" expand="block" class="middle-button">Ajouter un produit</ion-button>



    <ion-list *ngIf="user.role != 'farmer'">

      

      <div (click)="goToSettings()" class="list-tree">

        <div (click)="goToOrders()" class="menu-header">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Transactions</ion-label>
        </div>
        

        <ion-list class="sub-list">
          <div class="menu-link">
            <ion-label>Historique</ion-label>
          </div>
          <div class="menu-link">
            <ion-label>Moyen de paiement</ion-label>
          </div>
        </ion-list>
          
      </div>


      <div (click)="goToSettings()" class="list-tree">

        <div class="menu-header">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Paramètres</ion-label>
        </div>
        

        <ion-list class="sub-list">
          <div class="menu-link">
            <ion-label>Informations personnelles</ion-label>
          </div>
          <div class="menu-link">
            <ion-label>Moyen de paiement</ion-label>
          </div>
          <div class="menu-link">
            <ion-label>Mot de passe</ion-label>
          </div>
          <div class="menu-link">
            <ion-label>Notifications</ion-label>
          </div>
        </ion-list>
      </div>
  
      

      <!-- <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Info personnelle</ion-label>
      </ion-item> -->

      <!-- <ion-item>
        <ion-icon name="heart-outline" slot="start"></ion-icon>
        <ion-label>Mes favoris</ion-label>
      </ion-item> -->
      <div (click)="goToSettings()" class="list-tree">
        <div class="menu-header">
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-label>Aide</ion-label>
        </div>

        <ion-list class="sub-list">
          <div class="menu-link">
            <ion-label>Centre d'aide / Contact</ion-label>
          </div>
          <div class="menu-link">
            <ion-label>Moyen de paiement</ion-label>
          </div>
          
        </ion-list>
      </div>
      
      <div (click)="goToAddProduct()" class="disconnect-button">
        <!-- <ion-icon name="log-out-outline" slot="start"></ion-icon> -->
        <ion-label>Ajouter produit</ion-label>
      </div>

      <div (click)="disconnect()" class="disconnect-button">
        <!-- <ion-icon name="log-out-outline" slot="start"></ion-icon> -->
        <ion-label>Déconnexion</ion-label>
      </div>
    </ion-list>


  </div>


</ion-content>
