

<ion-content [fullscreen]="true">
  

  <div class="padding-page" *ngIf="user !== null">

    <div class="page-title">Profil</div>

    <app-user-card [user]="user"></app-user-card>

    <div class="profile-content">

      <!-- <img src="https://picsum.photos/150/150" alt="" class="pseudo-image">

      <div>
        <ion-title>{{user.pseudo}}</ion-title>
        <div>{{user.email}}</div>
      </div> -->


    </div>


    <div >

      <app-dashboard-card></app-dashboard-card>
    </div>


    <ion-list>

      <ion-item (click)="goToOrders()">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>Commandes</ion-label>
      </ion-item>

      <ion-item (click)="goToSettings()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Paramètres</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Info personnelle</ion-label>
      </ion-item>

      <!-- <ion-item>
        <ion-icon name="heart-outline" slot="start"></ion-icon>
        <ion-label>Mes favoris</ion-label>
      </ion-item> -->

      <ion-item>
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Centre d'aide / Contact</ion-label>
      </ion-item>

      

      <ion-item (click)="disconnect()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Déconnexion</ion-label>
      </ion-item>
    </ion-list>

    <ion-button *ngIf="!user.admin" expand="block" class="big-button">Devenir vendeur</ion-button>

  </div>


</ion-content>
