

.profile-content{
    display: flex;
    flex-direction: column;

    gap: 8px;

    margin: 32px 0px;
    // padding: 0px 16px;
}

.pseudo-image{
    width: 33%;
    height: 33%;
    border-radius: 50%;

    margin-right: 32px;
}

.list-tree{
    display: flex;
    flex-direction: column;

}

.sub-list{
    margin-left: 56px;
}