
.navbar{
    // position: fixed;
    // width: 390px;
    height: 70px;
    // top: 0;
    // left: 0;
    --background: var(--ion-color-secondary-tint);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 40px;
    height: 40px;
}

.icon{
    width: 28px;
    height: 28px;

    stroke: var(--medium-gray);
    stroke-width: 3px;
}

.search-icon{
    width: 28px;
    height: 28px;
    fill: var(--medium-gray);
}

.tab-selected .icon{
    stroke: var(--ion-color-primary);
}

.tab-selected .search-icon{
    fill: var(--ion-color-primary);
}

#Search{
    transform: scale(1.1667);
}


.basket_logo_empty{
    width: 60px;
    height: 40px;
    padding-bottom: 12px;
    display: block;
}


.tab-selected .basket_logo_empty{
    display: none;
}

.basket_logo_full{
    
    display: none;
}

.tab-selected .basket_logo_full{
    width: 60px;
    height: 40px;
    padding-bottom: 8px;
    display: block;
}