

<ion-content [fullscreen]="true">

  <div class="close-page" (click)="goBack()">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M21 21L1 1M21 1L1 21" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
  </div>


  <div class="padding-page">

    <section #concept>

      <div class="page-title">Un <span class="orange-text">repartidor</span> c'est quoi ?</div>


      <div class="flex-row">
        <img src="/../../assets/images/repartidor/Big Shoes Person with Plants.png"  alt="">

        <div>
          C'est avant tout un consommateur qui apprécie nos produits et nos valeurs.
        </div>
      </div>

      <div class="centered-content">
        Il apporte des produits à sa famille...
      </div>

      <div>
        à ses amis...
      </div>

      <div>
        à ses voisins...
      </div>


      <div class="margin-top">
        Peu à peu, il se retrouve à prendre plusieurs cagettes. 
        Pour lui, mais aussi pour son entourage qui lui en réclame.
      </div>


      <div class="margin-top">
        Quand le consommateur atteint une commande de <span class="orange-text">16 cagettes</span> il peut, 
        s'il le souhaite, obtenir le statut de <span class="orange-text">repartidor</span>. 
      </div>


      <div class="margin-top">
        Le repartidor est <span class="orange-text">livré</span> directement <span class="orange-text">chez lui</span> et 
        comme tout travail mérite salaire il est <span class="orange-text">rémunéré</span> selon la grille suivante : 
      </div>


      <div class="margin-top">
        Valorisez ainsi votre garage ou espace de stockage et arrondissez les fins de mois. 
      </div>

      <div class="margin-top">
        Ne vous souciez pas des impôts, on s’occupe de tout  
      </div>

      <div class="margin-top">
        Vous apparaitrez alors dans la liste des repartidor
      </div>
      

      <div class="flex-row margin-top">
        <img src="/../../assets/images/repartidor/Standing.png"  alt="">

        <div>
          <span class="orange-text">Attention</span>, nous ne livrons que les commandes de  16 cagettes ou plus.
          Si vous n'y parvenez pas vous pourrez commander chez le  repartidor de votre choix.
        </div>
      </div>
  

      <div class="margin-top">
        Afin d'informer sur l'agriculture du non-agir et également remercier les repartidors, 
        chaque repartidor atteignant le dernier palier recevra un exemplaire de
         “La révolution d'un seul brin de paille” de Masanobu Fukuoka pour mieux comprendre <span class="orange-text">l'agriculture du non-agir</span>.  
      </div>

      <div class="centered-content" >
        <img src="/../../assets/images/repartidor/Hands Book.png" alt="">

      </div>

      <div class="margin-top">
        Si vous souhaitez devenir repartidor. Cliquez-ici
      </div>


      <div class="centered-content margin-top">
        <ion-button class="middle-button" (click)="goToRepartidorForm()">
          Devenir Repartidor
        </ion-button>
      </div>
      

    </section>

    

  </div>


  
</ion-content>
