


.dashboard-card{
    

    padding: 16px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    border-radius: 32px;

    background-color: var(--ion-color-secondary-shade);

    color: var(--black);
    
}

.info-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 12px;
}

.info-row svg{
    margin-right: 12px;
}
