

<ion-content [fullscreen]="true">

  <div class="close-page" (click)="goBack()">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M21 21L1 1M21 1L1 21" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
  </div>


  <div class="padding-page">

    <section #concept>

      <div class="page-title">Le <span class="orange-text">concept</span></div>

      <div>
        L'idée est de mettre en relation le consommateur
         et le producteur par le biais de <span class="orange-text">repartidors</span>. 
      </div>
  
      <img src="/../../assets/images/concept/Discussion.png"  alt="">
  

    </section>



    <section #non_action>

      <div class="section-title">Agriculture du <span class="orange-text">non agir</span></div>

      <div class="flex-row">
        <div>
          Nous sommes dicté par les principes de l'agriculture 
          du <span class="orange-text">non-agir</span> et nous 
          somme donné
          pour mission de
          diffuser cette 
          approche de 
          l'agriculture, cette 
          vision au sens plus large.
        </div>

        <img src="/../../assets/images/concept/Hands Earth.png" width="140px" height="140px"  alt="">
      </div>
    </section>

    <section #share>

      <div class="section-title">Economie de <span class="orange-text">partage</span></div>

        <div>
          Chaque personne apportant de la valeur ajouté au produit se voit rémunéré en conséquences.
          C'est juste.
        </div>
    </section>

    <section #share>

      <div class="section-title">Le prix <span class="orange-text">juste</span></div>

        <div>
          Ainsi nous rendons accessible des produits de grande qualité naturelle, bon pour la santé que tout un chacun devrais pouvoir manger sur cette planette.
        </div>
    </section>

    

  </div>


  
</ion-content>
