<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div class="padding-page"> -->
  <div class="padding-page">
    <ion-searchbar class="searchbar"></ion-searchbar>


    <ion-title>Produits</ion-title>

    <ion-title>Orange</ion-title>

    <ion-list class="product-list">
    
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>

    </ion-list>

    <ion-title>Kiwi</ion-title>

    <ion-list class="product-list">
    
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>

    </ion-list>
    
  </div>

</ion-content>
