<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div class="padding-page"> -->
  <div class="padding-page">
    <ion-searchbar class="searchbar" placeholder="Recherche"></ion-searchbar>


    <!-- <ion-title></ion-title> -->

    <div>Produits</div>

    <ion-list class="product-list">
      <div *ngFor="let product of products">
        <app-card-product [product]="product"></app-card-product>
      </div>
    </ion-list>
    
    <div>Vendeur</div>

    <ion-list class="contact-list">
      <!-- <app-contact-row></app-contact-row> -->

      <div *ngFor="let seller of sellers">

        <app-user-card [user]="seller"></app-user-card>

      </div>

      <!-- <app-seller-row></app-seller-row> -->
    </ion-list>

    
  </div>

</ion-content>
