

.padding-page{
    padding-top: 0px;
}

.section-title{
    margin-bottom: 8px;
    margin-top: 8px;
}

.close-page{
    position: fixed;
    top: 16px;
    left: 16px;

    z-index: 100;
    background-color: var(--transparent-gray);

    // padding: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image{
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 32px 32px;

    object-fit: cover;
}

.image-legend{
    // margin-left: 16px;
    color: var(--ion-color-primary);
}


.product-section{
    padding: 16px;
    border-bottom: 2px solid var(--ion-color-primary);
}


.add-to-basket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 16px 0px;
    padding: 12px 16px;

    border-radius: 32px;
    border: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    // font-weight: 600;
}

.product-info-label{
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 16px;
}

.product-info-value{
    color: var(--ion-color-primary);
    font-weight: 600;

}


.select-product{

    background-color: var(--ion-color-secondary-shade);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 32px;
    padding: 20px 16px;
    
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 12px;
}

.quantity-info{
    font-size: 22px;
    font-weight: 800;
}

.weight-product{
    color: var(--dark-gray);
    // font-weight: 600;
}

.quantity-button{
    background-color: var(--ion-color-secondary);
    border-radius: 50%;
    color: var(--ion-color-primary);

    border: 1px solid var(--ion-color-primary);

    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 800;
}


.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    // width: 390px;
    height: 70px;
    width: 100%;
    // top: 0;
    // left: 0;
    background: var(--ion-color-secondary-tint);

    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    justify-content: space-between;
    align-items: center;

    padding: 0px 24px;

    border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
}

.total-price{
    font-size: 22px;
    font-weight: 800;

    margin-left: 16px;
    margin-right: 16px;
}