
<div class="contact-row" (click)="goToChat()" *ngIf="user">
  

  <div class="contact-infos">

    <!-- <ion-icon size="large" name="person-circle-outline"></ion-icon> -->

    <img *ngIf="user.avatar" [src]="user.avatar" alt="" class="pseudo-image">
    <img *ngIf="!user.avatar" [src]="'/../../../assets/images/basics/avatar.png'" alt="" class="pseudo-image">



    <div class="contact">
      <ion-card-title>{{ user.firstname}}</ion-card-title>
      <ion-card-subtitle>{{user.lastname}}</ion-card-subtitle>
    </div>
  
    
  </div>

  <div>
    Il y'a 4 heures
  </div>

</div>