


.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;

    border-bottom : 1px solid var(--ion-color-primary);
}

.contact-infos{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    width: 50%;
}

.contact{
    margin: 0px 16px;
}

.pseudo-image{
    border-radius: 50%;
}