


.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.contact-infos{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    width: 50%;
}

.contact{
    margin-right: 16px;
}