<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bouche à Orange
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bouche à Orange</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="padding-page"> 
    <ion-title>Produit de la saison</ion-title>

    <ion-list class="product-list">
    
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>

    </ion-list>

    <div class="padding-16">
      <p>Pensez à la planète, rendez la cagette !</p>
      <p>(2€ de remise)</p>
    </div>

    <ion-title>Le concept</ion-title>

    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Agriculture du non agir</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Le concept est simple, vous commandez des produits de saison et nous vous les livrons directement chez vous.</p>
          <p>Vous pouvez commander des produits de saison en fonction de la disponibilité des produits.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Notre histoire</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Le concept est simple, vous commandez des produits de saison et nous vous les livrons directement chez vous.</p>
          <p>Vous pouvez commander des produits de saison en fonction de la disponibilité des produits.</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </div>


</ion-content>
