

<ion-content [fullscreen]="true">

  <div class="header">
    <svg class="header-svg" viewBox="0 0 390 108" xmlns="http://www.w3.org/2000/svg">
      <path d="M390 108C236 88 152.5 88 0 108V0H390V108Z" fill="var(--ion-color-secondary)"/>
      </svg> 

     <div class="header-title">Abuelos</div> 
  </div>



  <div class="padding-page"> 
    <div class="section-title">Fruits de la saison</div>

    <ion-list class="horizontal-list">
    
      <div *ngFor="let product of products">
        <app-card-product [product]="product"></app-card-product>
      </div>


    </ion-list>

    <!-- <div class="info-cagette">
      <p>Pensez à la planète, rendez la cagette ! (2€ de remise)</p>
    </div> -->

    <div class="section-title">Comment ça marche ?</div>

    <!-- <ion-list class="infos-list">
      <ion-card class="infos-card">
        <ion-card-header>
          <ion-card-title>Agriculture du non agir</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo minus earum harum, ea eveniet officia beatae molestias, nobis voluptate id asperiores quae consequatur debitis quod omnis incidunt, iste voluptatem.</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="infos-card">
        <ion-card-header>
          <ion-card-title>Notre histoire</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, similique doloremque fuga nostrum commodi fugit esse asperiores ullam ut, laboriosam dolor labore nesciunt eaque nemo ad hic perferendis voluptatum optio?</p>
        </ion-card-content>
      </ion-card>
    </ion-list> -->

    <ion-list class="horizontal-list">
    
      <img src="/../../assets/images/concept/Carte Concept.png" width="250px" height="250px" alt="" (click)="goToConceptPage()">

      <img src="/../../assets/images/Carte Agriculture.png" width="250px" height="250px" alt="">
      
      


    </ion-list>
    
    <ion-button expand="block" class="big-button" (click)="goToSignUpPage()">Rejoindre abuelos</ion-button>

  </div>


</ion-content>
