<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bouche à Orange
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bouche à Orange</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="padding-page"> 
    <ion-title>Produit de la saison</ion-title>

    <ion-list class="product-list">
    
      <div *ngFor="let product of products">
        <app-card-product [product]="product"></app-card-product>
      </div>


    </ion-list>

    <div class="info-cagette">
      <p>Pensez à la planète, rendez la cagette !</p>
      <p>(2€ de remise)</p>
    </div>

    <ion-title>Le concept</ion-title>

    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Agriculture du non agir</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo minus earum harum, ea eveniet officia beatae molestias, nobis voluptate id asperiores quae consequatur debitis quod omnis incidunt, iste voluptatem.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Notre histoire</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, similique doloremque fuga nostrum commodi fugit esse asperiores ullam ut, laboriosam dolor labore nesciunt eaque nemo ad hic perferendis voluptatum optio?</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
    
    <ion-button expand="block" class="seller-button">Devenir vendeur</ion-button>

  </div>


</ion-content>
