<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button fill="icon-only" slot="start" (click)="goBackButton()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-row>
      <div>Solde : 800€</div>
      <ion-button>
        Transférer
      </ion-button>
    </ion-row>
    <ion-row>
      <div>Prochaine livraison : </div>
    </ion-row>
    <ion-row>
      <div>Quantité : </div>
    </ion-row>
    <ion-row>
      <div>Adresse de livraison : </div>
    </ion-row>
    <ion-row>
      <div>Nb de clients : </div>
    </ion-row>



    <div>
      Vendu : 400€
    </div>
    <div>
      Ma part : 40€
    </div>
  </ion-list>
</ion-content>
